.projects {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #DAB49D;
    box-sizing: border-box;
    display: grid;
    place-content: center;

}

.container {
    justify-content: center;
    display: grid;
    grid-template-columns: 500px 500px;

    gap: 60px;
    align-items: center;
}

