
  .list {
    display: inline-flex;
    list-style: none;
  }
  
  .icon-link {  
    display: inline-flex;  
    text-decoration: none;  
    color: white;
    width: 4rem;
    height: 4rem;   
    transition: .5s linear;
    position: relative;
    z-index: 1;
    margin: auto
  }
  
  .icon-link svg {
    margin: auto;
  }
  
  .icon-link:hover {
    color: #fff;
  }
  
  .icon-link::before {  
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 4rem;
    height: 4rem;
    background: #000;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
  }
    
  .icon-link:hover::before {  
    transform: scale(1);
  }
  


  .icon-item:nth-child(1) a:hover:before { 
    background: #111111; 
  }
  
  .icon-item:nth-child(2) a:hover:before { 
    background: #0A66C2; 
  }
  
  .icon-item:nth-child(3) a:hover:before { 
    background: #FF0063; 
  }
  
