.contact {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100vh;
    background-color: #F3E9DC;
    display: grid;
    place-content: center;
}

.send {
    padding-top: 20px;
    width: 100%;
} 

.form {
    background-color: white;
    height: 500px;
    width: 900px;
    place-content: end center;
    padding: 10px 50px 50px 50px;
    display: grid;
    gap: 20px;
}



