.menu {
    background-color: #5E3023;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 5%;
}

div.iconMenu {

    height: 100%;
    display: grid;
    place-content: center;
    
}